@model PD.Models.PositionAssignment
@using PD.Models.AppViewModels.Filters;

@{ PositionFilter filter = ViewBag.Filter as PositionFilter;}
<div>
    <h4>Position Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.SalaryCycleStartMonth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SalaryCycleStartMonth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SalaryCycleStartDay)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SalaryCycleStartDay)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @{
                DataProtector dp = ViewBag.DataProtector as DataProtector;
                string name = dp.Decrypt(@Model.Person.Name);
            }
            <span title="@name">@Html.DisplayFor(model => model.Person.EmployeeId)</span>
        </dd>
    </dl>

    <h5>Audit Trail</h5>
    @foreach(var log in Model.AuditTrail)
    {
        <div>
            <div>@*@log.Timestamp.ToLongDateString()*@</div>
            <div>@Html.Raw(log.Message)</div>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="positions" asp-all-route-data="@{new Dictionary<string, string>() { { "filter.Date", filter.Date.ToShortDateString() } }}">Back to List</a>
</div>
