@model IEnumerable<PD.Models.AppViewModels.PositionViewModel>
@using PD.Models.AppViewModels.Filters;
@{
    ViewData["Title"] = "Faculty";
}

<h2>Employees</h2>

@{ var filter = ViewBag.Filter as PersonFilter; }
@Html.EditorFor(model => filter, new {controller = "reports", action = "positions" })
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PersonPositions.First().Position.PositionAccounts.First().)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@{ int n = Model.Count();}
        @for (int i = 0; i < n; ++i)*@
        @foreach (var item in Model.ToList())
        {
            //var item = objArray[i];
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                </td>
            </tr>
            @*<tr>
                <td>
                    @item.Person.Name
                </td>
                <td>
                    @item.Person.EmployeeId
                </td>
                <td>
                    @item.Person.BirthDate
                </td>
                <td>
                    @item.Position.Title
                </td>
                <td>
                </td>
            </tr>*@

        }
    </tbody>
</table>
