@model IEnumerable<PD.Models.ChartString>

@{
    ViewData["Title"] = "Chart Strings";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComboCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeedCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sponsor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComboCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sponsor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
